<template>
  <div class="home">
    <div class="row">
      <div class="col-6 offset-3">
        <select
          class="form-select"
          v-model="profile"
          aria-label="Default select example"
        >
          <option disabled value="" selected>Please select one</option>

          <option
            :value="profile"
            v-for="(profile, i) in this.getProfiles()"
            :key="`profile-${i}`"
          >
            {{ profile.name }}
          </option>
        </select>
      </div>
      <div class="col-3 offset-1" v-if="false">
        <div class="mb-3">
          <div class="form-check form-switch">
            <input
              v-model="isPipelineBasedView"
              class="form-check-input"
              type="checkbox"
              id="view-type"
            />
            <label class="form-check-label" for="view-type">
              {{
                isPipelineBasedView
                  ? "Pipeline Based View"
                  : "Project Based View"
              }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-5" v-if="profile && profile.projects">
      <div class="col-12">
        <PipelineBasedView :profile="profile" v-if="isPipelineBasedView" />
        <ProjectBasedView v-else />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PipelineBasedView from "@/components/PipelineBasedView.vue";
import ProjectBasedView from "@/components/ProjectBasedView.vue";

export default {
  name: "Home",
  components: {
    PipelineBasedView,
    ProjectBasedView,
  },
  mounted() {
    let raw_profile = localStorage.getItem("customDefaultProfile");
    if (raw_profile) {
      let profile = JSON.parse(raw_profile);
      let self = this;
      let isFound = false;
      this.getProfiles().forEach((p) => {
        if (p.id == profile.id) {
          self.profile = profile;
          isFound = true;
        }
      });
      if(!isFound) {
        localStorage.removeItem("customDefaultProfile")
      }
    }
  },
  data: function () {
    return {
      profile: null,
      isPipelineBasedView: true,
    };
  },
  methods: {
    getProfiles: function () {
      return this.$root.profiles;
    },
  },
  watch: {
    profile: function (val) {
      localStorage.setItem("customDefaultProfile", JSON.stringify(val));
    },
  },
};
</script>
