<template>
  <div class="profile">
    <div class="row">
      <div class="col-4 mb-1 text-start">
        <button
          class="btn btn-success me-1"
          type="button"
          title="Download Profiles"
          @click="downloadProfiles"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cloud-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"
            />
            <path
              d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
            />
          </svg>
        </button>
        <input  class="d-none" type="file" name="profile-file" id="profile-file" ref="profileFile" @change="uploadProfiles()" hidden>
        <button
          class="btn btn-success me-1"
          type="button"
          title="Upload Profiles"
          @click="$refs.profileFile.click()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-cloud-arrow-up"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"
            />
            <path
              d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <ProfileList :profiles="profiles" @editProfile="editProfile" />
      </div>
      <div class="col-6 offset-1">
        <ProfileEdit :profile="profile" />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import ProfileList from "@/components/ProfileList.vue";
import ProfileEdit from "@/components/ProfileEdit.vue";
function download(filename, text) {
  var element = document.createElement("a");
  element.setAttribute(
    "href",
    "data:text/plain;charset=utf-8," + encodeURIComponent(text)
  );
  element.setAttribute("download", filename);

  element.style.display = "none";
  document.body.appendChild(element);

  element.click();

  document.body.removeChild(element);
}
export default {
  name: "Profile",
  components: {
    ProfileList,
    ProfileEdit,
  },
  data: function () {
    return {
      profiles: [],
      profile: null,
    };
  },
  mounted() {
    this.getProfiles();
  },
  methods: {
    getProfiles: function () {
      let profilesRaw = localStorage.getItem("profiles");
      if (profilesRaw != null || profilesRaw != undefined) {
        let profileParsed = JSON.parse(profilesRaw);

        if (Array.isArray(profileParsed)) {
          profileParsed.forEach((profile) => {
            this.profiles.push(profile);
          });
        }
      }
    },
    addProfile: function (profile) {
      this.profiles.push(profile);
      localStorage.setItem("profiles", JSON.stringify(this.profiles));
      this.profiles.splice(this.profiles.length);
      this.cancel();
    },
    cancel: function () {
      this.profile = null;
    },
    updateProfile: function (id, profile) {
      console.log(id, profile);
      let indexOfProfile = this.profiles.findIndex((x) => x.id == id);
      this.profiles[indexOfProfile] = profile;

      localStorage.setItem("profiles", JSON.stringify(this.profiles));
      this.profile = null;
      this.profiles.splice(this.profiles.length);
    },
    editProfile: function (profile) {
      console.log(profile);
      this.profile = profile;
    },
    deleteProfile: function (id) {
      this.profiles = this.profiles.filter((profile) => profile.id != id);
      localStorage.setItem("profiles", JSON.stringify(this.profiles));
      this.cancel();
    },
    downloadProfiles: function () {
      download(
        "gitlab-ci-dashboard-profiles.txt",
        localStorage.getItem("profiles")
      );
    },
    uploadProfiles: function() {
      let f = this.$refs.profileFile.files[0]
      let reader = new FileReader()
      let self = this
      reader.onload = (event) => {
        let raw = event.target.result
        let parsed = JSON.parse(raw)
        self.profiles = parsed
        localStorage.setItem("profiles", JSON.stringify(this.profiles));
      }
      reader.readAsText(f)
    }
  },
  watch: {
    profiles: function (val) {
      this.$root.profiles = val;
    },
  },
};
</script>
