<template>
  <div class="pipeline-based-view">
    <div class="row">
      <div class="col-2">
        <div class="mb-3">
          <div class="form-check form-switch">
            <input
              v-model="showLastOne"
              class="form-check-input"
              type="checkbox"
              id="show-last-one"
            />
            <label class="form-check-label" for="show-last-one"
              >Show Last One
            </label>
          </div>
        </div>
      </div>
      <div class="col-4 offset-6">
        <select
          class="form-select d-inline w-75"
          v-model="interval"
          id="interval"
          aria-label="Select Interval"
        >
          <option value="0">None</option>
          <option value="5">5s</option>
          <option value="15">15s</option>
          <option value="30">30s</option>
          <option value="60">1m</option>
          <option value="300">5m</option>
        </select>
        <button class="btn btn-success ms-2" @click="updatePipelines">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-clockwise"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
            />
            <path
              d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-hover">
          <caption>
            Pipelines
          </caption>
          <thead>
            <tr>
              <th>Pipeline Id</th>
              <th>Created At</th>
              <th>Project</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(pipeline, i) in filteredPipelines" :key="i">
              <td class="">
                <a :href="pipeline.web_url" target="_blank" class="link-info">
                  {{ pipeline.id }}
                </a>
              </td>
              <td class="">{{ pipeline.created_at }}</td>
              <td class="text-start">
                <a
                  :href="getProjectById(pipeline.project_id).http_url_to_repo"
                  target="_blank"
                  class="link-info"
                >
                  {{ getProjectById(pipeline.project_id).name }}
                  ( {{ getProjectById(pipeline.project_id).path }} )
                </a>
              </td>
              <td
                class=""
                :class="{
                  'table-success': pipeline.status == 'success',
                  'table-manual': pipeline.status == 'manual',
                  'table-danger': pipeline.status == 'failed',
                  'table-warning': pipeline.status == 'canceled',
                  'table-info': pipeline.status == 'running',
                  'table-secondary': pipeline.status == 'skipped',
                }"
              >
                {{ pipeline.status }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<style scoped>
.table-manual {
  --bs-table-bg: #CFE7CD;
}
</style>
<script>
export default {
  data: function () {
    return {
      pipelines: [],
      searchKey: "",
      searchByGroup: true,
      foundedProjects: [],
      ownerName: "",
      token: "",
      isLoading: false,
      showLastOne: true,
      intervalId: null,
      interval: 0,
    };
  },
  props: {
    profile: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    this.updatePipelines();
  },
  methods: {
    getPipelines: function (projectId) {
      let self = this;
      this.pipelines.splice(0, this.pipelines.length);
      this.$http
        .get(`https://gitlab.com/api/v4/projects/${projectId}/pipelines`, {
          headers: {
            "PRIVATE-TOKEN": this.getProjectById(projectId).token,
          },
        })
        .then((response) => {
          response.data.forEach((pipeline) => self.pipelines.push(pipeline));
        });
    },
    updatePipelines: function () {
      this.enabledProjects.forEach((project) => {
        this.getPipelines(project.id);
      });
    },
    getProjectById: function (projectId) {
      return this.enabledProjects.find((project) => project.id == projectId);
    },
    clearInterval: function () {
      clearInterval(this.intervalId);
    },
  },
  computed: {
    filteredPipelines: function () {
      return this.showLastOne ? this.lastOnePipelines : this.sortedPipelines;
    },
    enabledProjects: function () {
      return this.profile.projects.filter((project) => project.enabled == true);
    },
    sortedPipelines: function () {
      return this.pipelines
        .filter(() => true)
        .sort((a, b) => new Date(b.created_at) - new Date(a.created_at));
    },
    lastOnePipelines: function () {
      let temp = [];
      this.enabledProjects.forEach((project) => {
        let found = this.sortedPipelines.find(
          (pipeline) => pipeline.project_id == project.id
        );
        if (found) {
          temp.push(found);
        }
      });
      return temp.sort(
        (a, b) => new Date(b.created_at) - new Date(a.created_at)
      );
    },
  },
  watch: {
    profile: function () {
      this.updatePipelines();
    },
    interval: function (val) {
      if (val == 0) {
        this.clearInterval();
      } else {
        this.intervalId = setInterval(this.updatePipelines, val * 1000);
      }
    },
  },
  destroyed() {
    this.clearInterval();
  },
};
</script>
