<template>
  <div>
    <div class="list-group">
      <button
        v-for="(profile, i) in this.profiles"
        :key="`${i}-profile`"
        type="button"
        class="list-group-item list-group-item-action"
        @click="triggerEditProfile(profile)"
      >
        {{ profile.name }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    profiles: {
      type: Array,
      required: true
    } 
  },
  data: function () {
    return {
    };
  },
  mounted() {},
  methods: {
    triggerEditProfile: function (profile) {
      this.$emit('editProfile', profile)
    }
  },
};
</script>
