<template>
  <div class="profile-edit">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="profile-name" class="form-label"> Profile Name </label>
          <input
            v-model="name"
            type="text"
            class="form-control"
            id="profile-name"
            placeholder="Enter Profile Name"
          />
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <template v-for="(project, i) in sortedProjects">
        <div class="col-1" :key="`${i}-col-switch`">
          <div class="mb-3">
            <div class="form-check form-switch">
              <input
                v-model="project.enabled"
                class="form-check-input"
                type="checkbox"
                id="search-by"
              />
            </div>
          </div>
        </div>
        <div class="col-10" :key="`${i}-col-info`">
          <button
            :key="`${i}-project`"
            type="button"
            class="
              list-group-item list-group-item-action list-group-item-success
              text-start
            "
          >
            <strong>{{ project.path }}</strong>
            <sub class="float-end">{{ project.name }}</sub>
          </button>
        </div>
        <div class="col-1" :key="`${i}-col-delete`">
          <button
            :key="`${i}-delete`"
            @click="deleteProject(project)"
            type="button"
            class="btn btn-danger"
          >
            X
          </button>
        </div>
      </template>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <button
          type="button"
          v-if="profile"
          class="btn btn-danger"
          @click="onCancel"
        >
          Cancel
        </button>
      </div>
      <div class="col-4">
        <button
          type="button"
          v-if="profile"
          class="btn btn-danger"
          @click="onDelete"
        >
          Delete
        </button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-success" @click="onSave">
          Save
        </button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <ProjectSearch />
      </div>
    </div>
  </div>
</template>

<script>
import ProjectSearch from "@/components/ProjectSearch.vue";
const uuidv4 = function () {
  return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function (c) {
    var r = (Math.random() * 16) | 0,
      v = c == "x" ? r : (r & 0x3) | 0x8;
    return v.toString(16);
  });
};
export default {
  components: {
    ProjectSearch,
  },
  props: {
    profile: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data: function () {
    return {
      id: null,
      name: "",
      projects: [],
    };
  },
  mounted() {},
  methods: {
    deleteProject: function (project) {
      this.projects = this.projects.filter((p) => p.id != project.id);
    },
    addProject: function (project) {
      project.enabled = true;
      this.projects.push(project);
    },
    onDelete: function () {
      this.$parent.deleteProfile(this.id);
    },
    onCancel: function () {
      this.$parent.cancel();
    },
    onSave: function () {
      if (this.name.length < 1) {
        alert("Profile name required!");
        return;
      }
      if (this.id == null) {
        console.log(1);
        this.$parent.addProfile({
          projects: this.projects.map(
            ({ id, name, http_url_to_repo, path, token, enabled }) => {
              return { id, name, http_url_to_repo, path, token, enabled };
            }
          ),
          name: this.name,
          id: uuidv4(),
        });
        this.clearForm();
      } else {
        console.log(2);
        this.$parent.updateProfile(this.id, {
          projects: this.projects,
          name: this.name,
          id: this.id,
        });
      }
    },
    clearForm: function () {
      this.id = null;
      this.name = "";
      this.projects = [];
    },
  },
  computed: {
    sortedProjects: function () {
      return this.projects
        .filter(() => true)
        .sort(function (a, b) {
          if (a.path < b.path) {
            return -1;
          }
          if (a.path > b.path) {
            return 1;
          }
          return 0;
        });
    },
  },
  watch: {
    profile: function (val) {
      if (val) {
        this.id = val.id;
        this.name = val.name;
        this.projects = val.projects;
      } else {
        this.clearForm();
      }
    },
  },
};
</script>
