<template>
  <div class="project-search">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="token" class="form-label"> Gitlab Token </label>
          <input
            v-model="token"
            type="text"
            class="form-control"
            id="token"
            placeholder="Gitlab Token"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="mb-3">
          <div class="form-check form-switch">
            <input
              v-model="searchByGroup"
              class="form-check-input"
              type="checkbox"
              id="search-by"
            />
            <label class="form-check-label" for="search-by">
              {{ searchByGroup ? "Group" : "User" }} based searching
            </label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="owner-key" class="form-label">
            Enter {{ searchByGroup ? "Group" : "User" }} Name
          </label>
          <input
            v-model="ownerName"
            type="search"
            class="form-control"
            id="owner-key"
            :placeholder="searchByGroup ? 'Group' : 'User'"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="search-key" class="form-label">
            Enter Repository Name
          </label>
          <input
            v-model="searchKey"
            @search="onSearch"
            type="search"
            class="form-control"
            id="search-key"
            placeholder="Repository Name"
          />
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-6">
        <button
          class="btn btn-primary"
          type="button"
          @click="addAll"
          v-if="filteredProjects.length > 0"
        >
          Add All
        </button>
      </div>
      <div class="col-6">
        <button
          @click="onSearch"
          type="button"
          class="btn btn-primary"
          :class="isLoading ? 'disabled' : ''"
        >
          Search
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="list-group">
          <button
            type="button"
            v-for="(project, i) in filteredProjects"
            :key="`${i}-project`"
            class="list-group-item list-group-item-action text-start"
            @click="addProject(project)"
          >
            <strong>{{ project.path }}</strong>
            <sub class="float-end">{{ project.name }}</sub>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import parse from "parse-link-header";
import axios from "axios";
window.axios = axios;
const getProjects = async (url, token) => {
  const response = await axios.get(url, {
    headers: {
      "PRIVATE-TOKEN": token,
    },
  });
  const data = response.data;
  let linkHeader = response.headers.link;
  let link = parse(linkHeader);
  console.log({ d: data });
  if (link.next) {
    return data.concat(await getProjects(link.next.url, token));
  } else {
    return data;
  }
};

export default {
  data: function () {
    return {
      searchKey: "",
      searchByGroup: true,
      foundedProjects: [],
      ownerName: "",
      token: "",
      isLoading: false,
    };
  },
  mounted() {},
  methods: {
    onSearch: function () {
      if (this.searchByGroup) {
        this.isLoading = true;
        this.getProjectsOfGroup(this.searchKey)
          .then((data) => {
            this.foundedProjects = data;
            this.isLoading = false;
            return data;
          })
          .catch((err) => {
            console.error(err);
            this.isLoading = true;
          });
      } else {
        this.foundedProjects = this.getProjectsOfUser(this.searchKey);
      }
    },
    getProjectsOfGroup: function (searchKey) {
      let searchURL = new URL(
        `https://gitlab.com/api/v4/groups/${this.ownerName}/projects`
      );
      let params = {
        per_page: 100,
        include_subgroups: true,
        search: searchKey,
      };
      searchURL.search = new URLSearchParams(params).toString();
      return getProjects(searchURL, this.token);
    },
    getProjectsOfUser: function (userName) {
      let searchURL = `https://gitlab.com/api/v4/users/${userName}/projects`;
      fetch(searchURL, {
        headers: {
          "PRIVATE-TOKEN": this.token,
        },
      })
        .then((response) => response.json())
        .then((projects) => {
          return projects;
        });
    },
    addProject: function (project) {
      project.token = this.token;
      this.$parent.addProject(project);
    },
    addAll: function () {
      this.foundedProjects.forEach((project) => {
        this.$parent.addProject(project);
      });
    },
  },
  computed: {
    filteredProjects() {
      return this.foundedProjects
        .filter((project) => {
          return (
            !this.$parent.projects.filter((p) => {
              return p.id == project.id;
            }).length > 0
          );
        })
        .sort(function (a, b) {
          if (a.path < b.path) {
            return -1;
          }
          if (a.path > b.path) {
            return 1;
          }
          return 0;
        });
    },
  },
};
</script>
